<p id="notice"><%= notice %></p>

<p>
  <b>Tag list:</b>
  <%= @info.tag_list %>
</p>

<p>
  <b>Twitter username:</b>
  <%= @info.twitter_username %>
</p>


<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
